@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');


*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}
.wrapper{
  font-family: 'Rubik', sans-serif;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
}

.bg__header{
  background :rgb(58, 26, 146);
}


.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 100px;
}
.header__logo{
  max-width: 80px;
}
.header img{
  width: 100%;
}
.nav{
  display: flex;
  align-items: center;
  color: aliceblue;
}

.nav-link:hover{
  transition: .6s all;
  color: rgb(0, 0, 0);
}

.nav-link{
  margin-right: 25px;
}
.nav-link:last-child{
  margin-right: 0;
}

.main{
  margin-bottom: 200px;
}
.main__cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main__card{
  max-width: 350px;
  
}
.main__card img{
  width: auto;
  height: 185px;
}
.card-item{}
.card-title{
  text-align: center;
}
.card-desc{
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-btn{
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 20px;
  background :rgb(58, 26, 146);
  transition: .6s ease-in-out;
}
.card-btn:hover{
  transform: scale(1.2);
  background: linear-gradient(45deg,orange,purple);
}

.carousel-caption p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.carousel-caption h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 91px;
  text-transform: uppercase;
}

.carousel-caption {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
}

.carousel-caption a {
  text-transform: uppercase;
  background: #00BC9C;
  padding: 16px 47px;
}

.banner__btn {
  margin-top: 53px;
}

.corousel__btn {
  margin-top: 53px;
}


